/* //CSS from https://codepen.io/alexpopovich/pen/weMgMJ */



button{
    text-Decoration: 'none' ; 
    border-Style: 'solid' ; 
    text-Align: 'center' ; 
    padding: '10px' ; 
    margin: '25px' ; 
    background-Color: '#AAC6E6' ; 
    color : '#551A8B'
}

.recipeDetails {
	color: #212129;
         text-align: left;
         font-weight: normal;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         margin: 5px 30px;
         font-family: "Papyrus";
         font-size: '5px';
      }

img {
        max-width: 100%;
    }

.info {
        margin: 10px 30px;
     }
